{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Top Performers</h1>
    
    <!-- Filter and Sorting Form -->
    <form method="GET" action="" class="d-flex justify-content-between mb-4">
        <div>
            <label for="industry">Industry:</label>
            <select name="industry" id="industry" class="form-select w-auto" onchange="this.form.submit()">
                {% for industry in industries %}
                    <option value="{{ industry }}" {% if selected_industry == industry %}selected{% endif %}>
                        {{ industry }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="sort_by">Sort by:</label>
            <select name="sort_by" id="sort_by" class="form-select w-auto" onchange="this.form.submit()">
                <option value="market_cap" {% if selected_sort == 'market_cap' %}selected{% endif %}>Market Capitalization</option>
                <option value="volume" {% if selected_sort == 'volume' %}selected{% endif %}>Volume</option>
                <option value="change" {% if selected_sort == 'change' %}selected{% endif %}>Percentage Change</option>
            </select>
        </div>
    </form>

    <!-- Display the Filtered and Sorted Data -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Industry</th>
                <th>Market Capitalization</th>
                <th>Volume Traded</th>
                <th>Percentage Change</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks_data %}
            <tr class="{% if stock.change > 0 %}positive{% else %}negative{% endif %}">
                <td>{{ stock.Symbol }}</td>
                <td>{{ stock.company_name }}</td>
                <td>{{ stock.Industry }}</td>
                <td>{{ stock.market_cap|intcomma }}</td>
                <td>{{ stock.volume|intcomma }}</td>
                <td>{{ stock.change }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
