{% load static%}
  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Collaboration - Site for Research</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header bg-primary py-3">
        <div class="container d-flex align-items-center justify-content-between">
            <!-- Image on the far left -->
            <img src="/media/images/doddle4.png" alt="Dataflow bg" class="doddle">
            <!-- Title in the center -->
            <span class="title text-white">First United Development</span>
            <!-- Logout button on the far right -->
            <div class="auth">
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}" class="mb-0">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-light">Log Out</button>
                    </form>
                {% else %}
                    <a href="{% url 'register' %}" class="text-white">Register</a> |
                    <a href="{% url 'login' %}" class="text-white">Login</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="menu-section">
        <nav class="menu">
            
            {% if not user.is_authenticated %}
                <a href="{% url 'home' %}" class="nav-link">Home</a>
                <a href="{% url 'register' %}" class="nav-link">Register for an account</a>
                <a href="{% url 'others' %}" class="nav-link">Others</a>
            {% else %}
                <a href="{% url 'home' %}" class="nav-link">Home</a>
                <a href="{% url 'subscribe' %}" class="nav-link">Fund Services Subscription</a>
                <a href="{% url 'account_balance' %}" class="nav-link">Account Balance</a>
                <a href="{% url 'others' %}" class="nav-link">Others</a>
            {% endif %}
        </nav>
    </div>
    <div class="main-content-wrapper">
    <div class="main-content">
      <p>This is a Global Collaboration site for analytics research</p>
      <div style="border: 1px solid black; padding: 10px; background-color: #f5f5f5; text-align: center;">
        
        <p>First United Development is part of the Artificial Intelligence Revolution. We try to improve constantly to be the leader in that field</p>
      </div>
    </div>
</div>

    <div class="footer">
        <a href="#">Contact</a> | <a href="#">About</a> | <a href="#">Help</a>
        <p>First United Development Materials</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
