{% extends 'base.html' %}
{% load static %}
{% block title %}Subscribe{% endblock %}
{% block content %}
<div>
    <h2>Welcome, {{ user.username }}!</h2>  <!-- Display the username here -->
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">
            <div>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% if field.name == 'investment_amount' %}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            {{ field }}
                            {% if field.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in field.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                            {% elif message %}
                            <div class="invalid-feedback d-block">
                                {{ message }}
                            </div>
                            {% endif %}
                        </div>
                        {% else %}
                        <div class="form-control {{ field.field.widget.attrs.css_classes }}">
                            {{ field }}
                        </div>
                        {% endif %}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
