{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row pt-5">
        <div class="col">
            <h1 class="display-4 text-primary">User Settings</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Full Name: {{ user.first_name }} {{ user.last_name }}</p>
            <p><a href="{% url 'password_reset' %}" class="text-primary">Change password?</a></p>
            <p>User since: {{ user.date_joined }}</p>
        </div>
    </div>

    <div class="row pb-2">
        <div class="col-lg-6">
            <form method="POST" action="/accounts/change_info/" class="mt-3">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="username" class="form-control" name="username" value="{{ user.username }}">
                </div>
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name:</label>
                    <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                </div>

                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name:</label>
                    <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" name="email" value="{{ user.email }}">
                </div>

                <button class="btn btn-outline-primary" type="submit">Save Info</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
