{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div>
        <div>
            <div class="row justify-content-center">
                <div class="card-header">
                    <h2 class="mb-0">Register</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            <div class="form-control">
                                {{ field }}
                            </div>
                            {% if field.errors %}
                            <div class="text-danger">
                                {{ field.errors }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}